#top
{
  padding:20px;
  background:lightskyblue;
  text-align:center;
 
}

#middle
{
  padding:20px;
  background:lightgrey;
  text-align:center;
}

#bottom
{
  padding:20px;
  background:lightskyblue;
  text-align:center;
 
}